/* VARIABLES */

:root {
  --lineHeight: 1.6em;
}

/* BASE VERTICAL RHYTHM */

* { margin: 0 }

* + * {
  margin-top: var(--lineHeight)
}

* + h1,
* + h2 {
  margin-top: calc(var(--lineHeight) * 2)
}

* + h3,
* + h4,
* + h5,
* + h6 {
  margin-top: calc(var(--lineHeight) * 1.5)
}

h3 + *,
h4 + *,
h5 + *,
h6 + *,
li + li,
section {
  margin-top: 0;
}

ul ul {
  margin-bottom: calc(var(--lineHeight) / 2)
}


/* BASE ELEMENTS */

body {
  line-height: var(--lineHeight);
  margin: 0;
  font-family: "Source Code Pro", monospace;
  font-size: 10pt;
  font-weight: 300;
  position: relative;
  color: rgb(39, 41, 44);
  background-color: white;
}

a { color: inherit }

a:visted { color: inherit }

strong { font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-size: 1em;
}

img {
  width: 100%;
  max-width: auto;
  display: block
}

ul {
  padding-left: 1em;
  list-style-type: circle;
  list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1'><text x='-0.5' y='5.75' font-family='Source Code Pro' font-weight='300' fill='black' font-size='16px'>–</text></svg>");
}


/* REGIONS */

#introduction-content {
  flow-into: introduction-flow;
}
.introduction-content-area {
  -webkit-flow-from: introduction-flow;
  flow-from: introduction-flow;
}

#work-history-content {
  -webkit-flow-into: work-history-flow;
  flow-into: work-history-flow;
}
.work-history-content-area {
  -webkit-flow-from: work-history-flow;
  flow-from: work-history-flow;
}

#education-content {
  -webkit-flow-into: education-flow;
  flow-into: education-flow;
}
.education-content-area {
  -webkit-flow-from: education-flow;
  flow-from: education-flow;
}

#referees-content {
  -webkit-flow-into: referees-flow;
  flow-into: referees-flow;
}
.referees-content-area {
  -webkit-flow-from: referees-flow;
  flow-from: referees-flow;
}


/* PAGE LAYOUT */

.page {
  width: 210mm;
  height: 297mm;
  position: relative;
  margin: 0 auto;
}

.page:after {
  content: 'm: 0402 821 896, e: hi@bradparker.com';
  position: absolute;
  bottom: 0;
  font-size: 0.75em;
  left: calc((var(--lineHeight) * 3) * 1.333);
  right: calc((var(--lineHeight) * 6) * 1.333);
  bottom: calc((var(--lineHeight) * 2) * 1.333);
}

.content-area {
  position: absolute;
  left: calc(var(--lineHeight) * 3);
  right: calc(var(--lineHeight) * 8);
  top: calc(var(--lineHeight) * 3);
  bottom: calc(var(--lineHeight) * 3);
}

.section-header {
  position: absolute;
  left: calc(var(--lineHeight) * 3);
  right: calc(var(--lineHeight) * 6);
  top: calc(var(--lineHeight) * 3);
  height: calc(var(--lineHeight) * 2.5);
}

.section-header + .content-area {
  top: calc(var(--lineHeight) * 5)
}

.section-header h2 {
  text-decoration: underline;
}

.page-footer {
  margin-top: 0;
  transform: rotate(90deg) translate(calc(var(--lineHeight) * 3.25), calc(-210mm + (var(--lineHeight) * 2.5)));
  transform-origin: left top;
  width: 297mm;
}
